.server-bar {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.server-list {
    flex: 1;
    overflow-y: scroll;
}

.server-thumb {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.server-icon:hover,
.add-server:hover {
    cursor: pointer;
}

.server-icon {
    width: 55px !important;
    height: 55px !important;
    border-radius: 1000px;
    border: 2px solid rgba(255, 255, 255, 0.15);
    display: flex; 
    justify-content: center;
    align-items: center;
    font-size: 23px;
}

.server-icon:hover {
    border-color: var(--primary);
    cursor: pointer;
}

.add-server {
    width: 55px !important;
    height: 55px !important;
    border-radius: 1000px;
    border: 2px dashed #d3d3d3;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 23px;
}

.custom-popover {
    --bs-popover-max-width: 200px;
    --bs-popover-bg: var(--bg-0);
    --bs-popover-body-bg: var(--bg-0);
    --bs-popover-color: var(--text);
    --bs-popover-body-color: var(--text);
    --bs-popover-body-padding-x: 1rem;
    --bs-popover-body-padding-y: .5rem;
}

.custom-popover .popover-body,
.custom-popover .popover-header {
    font-family: "Ubuntu", sans-serif;
}